@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #9a9a9a;
    --foreground: #e559f8;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; /* フォールバックフォント */
}

.wf-active body {
  font-family: 'fot-tsukuaoldmin-pr6n', Arial, Helvetica, sans-serif; /* Adobe Fonts */
}