@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #9a9a9a;
    --foreground: #e559f8;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; /* フォールバックフォント */
  margin: 0;
  padding: 0;
  overflow: hidden; /* スクロールを無効化 */
  height: 100%; /* ページ全体を固定 */
}

.wf-active body {
  font-family: 'fot-tsukuaoldmin-pr6n', Arial, Helvetica, sans-serif; /* Adobe Fonts */
}